{% extends 'templates/_base.html' %}

<title>
  {% block title %}Home{% endblock %}
</title>

{% block content %}

<section>
  <h2>Hello World</h2>
  <p>
    Welcome to my website. Lorem ipsum and all that jazz... Dolore nisi in magna amet occaecat minim in. Sunt sint eiusmod officia dolor culpa ex. Anim elit lorem exercitation in. Excepteur elit reprehenderit dolor cupidatat minim.
  </p>
  <br />
  <figure>
    <img src="http://static.photos/blue/640x360/137" alt="this is a picture">
    <figcaption>This is a picture</figcaption>
  </figure>
</section>

{% endblock %}
